<!doctype html>
<html>
<head>
<h1 align="center"><b>INTRA STORE NOTIFICATION SYSTEM</b></h1>
<meta charset="utf-8">
<title>Registration Page</title>
<link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="registration_div">
<form method="POST" action="/login/2">
  <div align="center">
    <table width="271" border="0">
      <caption>
        Registration Form
        </caption>
      <tr>
        <th width="113" scope="row"><div align="justify">First Name</div></th>
        <td width="148"><div align="justify"></div>
          <input type="text" name="firstname" id="firstname"></td>
        </tr>
      <tr>
        <th scope="row"><div align="justify">Last Name</div></th>
        <td><input type="text" name="lastname" id="lastname"></td>
        </tr>
      <tr>
        <th scope="row"><div align="justify">User Name</div></th>
        <td><div align="justify">
          <input type="text" name="username" id="username">
        </div></td>
        </tr>
      <tr>
        <th scope="row"><div align="justify">Password</div></th>
        <td><div align="justify">
          <input type="password" name="password" id="password">
        </div></td>
        </tr>
      <tr>
        <th scope="row"><div align="justify">Email </div></th>
        <td><div align="justify">
          <input type="email" name="email" id="email">
        </div></td>
        </tr>
      <tr>
        <th scope="row"><div align="justify">Phone Number</div></th>
        <td><div align="justify">
          <input type="tel" name="phno" id="phno">
        </div></td>
        </tr>
      <tr>
        <th scope="row"><div align="justify">Department</div></th>
        <td><div align="justify">
          <input type="text" name="dept" id="dept">
        </div></td>
        </tr>
      <tr style="text-align: justify">
        <th colspan="2" scope="row">&nbsp;</th>
      </tr>
      <tr style="text-align: justify">
        <th colspan="2" scope="row"> <div align="center">
          <input name="submit" type="submit" class="btn-primary" id="reg_Submit" value="Submit">
        </div>          <div align="justify"></div></th>
        </tr>
    </table>
  </div>

</form>
</div>
 <script src="//code.jquery.com/jquery.js"></script>   
 <script src="../assets/js/app.js"></script>      
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
